<% if book.favorited_by?(current_user) %>
  <%= link_to book_favorites_path(book), method: :delete, remote: true do %>
    <span class="btn btn-sm btn-primary">♥ Like <%= book.favorites.count %></span>
  <% end %>
<% else %>
  <%= link_to book_favorites_path(book), method: :post, remote: true do %>
    <span class="btn btn-sm btn-outline-primary">♡ Like <%= book.favorites.count %></span>
  <% end %>
<% end %>